<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest.mapper.ExcelTestMapper">

<!--查询单条数据-->
    <select id="selectAllData" resultType="com.example.mybatistest.entity.ExcelTest">
        select  * from  excel_test;
    </select>

<!--    根据id查询单条数据-->
    <select id="selectOneById" resultType="com.example.mybatistest.entity.ExcelTest" parameterType="Long">
        select * FROM  excel_test where id=#{id};
    </select>

<!--根据多条id集合批量查询数据-->

    <select id="batchGet" parameterType="Long" resultType="com.example.mybatistest.entity.ExcelTest">
        select * from excel_test where id in  <foreach collection="ids" item="item" index="index" open="("
                                                        separator="," close=")">
        #{item}
    </foreach>
    </select>
<!--    批量插入多条数据-->
    <insert id="batchInsertMany" parameterType="com.example.mybatistest.entity.ExcelTest">
        insert into excel_test ( id,name,gender,score )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.gender},#{item.score})
        </foreach>
    </insert>

</mapper>